<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Stonks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3>{{firstValue}}</h3>
  </ion-item>
  <ion-item>
    <h3>{{firstCommission}}</h3>
  </ion-item>
  <ion-item>
    <h3>{{finalValue}}</h3>
  </ion-item>
  <ion-item>
    <h3>{{finalCommission}}</h3>
  </ion-item>
  <ion-item>
    <h3>{{profit}}</h3>
  </ion-item>
</ion-content>
